/* General Styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

/* Container */
.landing-container {
  width: 90%;
  max-width: 1200px;
  margin:auto;
  margin-top:120px;
  
}


/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #ff9900;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #e68200;
}

/* Hero Image - Increase size */
.hero-image img {
  width: 800px; /* Increased size */
  max-width: 100%;
  justify-content: flex-end;
}
/* Features Section */
.features {
  text-align: center;
  padding: 60px 20px;
}

.features h2 {
  font-size: 2.2rem;
  margin-bottom: 30px;
}

.feature-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.feature-item {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 22%;
  text-align: center;
}

.feature-icon {
  font-size: 40px;
  color: #0057B8;
  margin-bottom: 10px;
}

.feature-item h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

/* Call-to-Action */
.cta {
  text-align: center;
  padding: 60px 20px;
  background-color: #007ACC;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
}

.cta h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.cta p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* Footer */
.footer {
  text-align: center;
  padding: 40px 20px;
  
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  bottom: 0;
  width: 100%;
  border-radius: 10px;
 
}


